<!-- main project page -->

<div class="main-container">
    <form action="/" method="post">
        <h1><a href="/">Training</a></h1>

        <h3>Input Matrix</h3>
        <div class="grid-container">
            <div class="input-container">
                <table class="grid">
                    <tr>
                        <td> </td>
                        <td> 0 </td>
                        <td> 1 </td>
                        <td> 2 </td>
                        <td> 3 </td>
                        <td> 4 </td>
                        <td> 5 </td>
                        <td> 6 </td>
                    </tr>

                    <% for(let i = 0; i < 9; ++i) { %>
                    <tr>
                        <td class="grid"> <%= i %> </td>

                        <% for(let j = 0; j < 7; ++j) { %>
                        <td class="grid">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox" class="mdc-checkbox__native-control" name="input"
                                        value="<%= i * 7 + j %>" />
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path" fill="none"
                                                d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <% } %>
                    </tr>
                    <% } %>

                </table>
            </div>
        </div>


        <h3>Target Vector</h3>
        <div class="target-container">
            <table>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>E</td>
                    <td>J</td>
                    <td>K</td>
                </tr>
                <tr>
                    <% for(let k = 0; k < 7; ++k) { %>
                    <td>
                        <div class="mdc-form-field">
                            <div class="mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" name="target" value="<%= k %>">
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle"></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <% } %>
                </tr>
            </table>
        </div>


        <br>
        <button class="mdc-button mdc-button" type="reset">
            <span class="mdc-button__label">Clear</span>
        </button>
        <button class=" mdc-button mdc-button--outlined" type="submit">
            <span class="mdc-button__label">Add to Dataset</span>
        </button>
        <!-- remove the tagert layer when done training -->
        <a class="mdc-button mdc-button--unelevated" href="/train">
            <span class="mdc-button__label">Train</span>
        </a>
        <br>

        <br>
        <h3><i>Dataset Size</i></h3>
        <p class="text-danger"><%= dataNum %> data items</p>

        <a class="mdc-icon-button material-icons" href="/test">arrow_forward</a>
    </form>
</div>