/* main.css file for all the styles for the app */


:root {
    font-family: Roboto, Ubuntu;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

/* body {
    align-content: center;
} */

table {
    display: grid;
}

td {
    text-align: center;
}

.main-container {
    max-width: 480px;
    align-content: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    display: block;
}


.grid-container {
    width: 90%;
    border: 1px solid purple;
    border-radius: 5%;
}

.input-container {
    margin-top: 2.5%;
}

td.grid {
    width: 50px;
    height: 50px;
}

.target-container {
    margin-left: 2.5%;
}


.text-danger {
    font-size: 24px;
    color: red;
}